---
const { breakpoint = 60, gap = 2, items = 3 } = Astro.props;
const gutter: string = gap + 'rem';
const threshold: string = breakpoint + 'rem';
---

<div class="switcher" data-items={items} data-gutter={gutter}>
  <slot />
</div>

<style is:global define:vars={{ threshold, gutter }}>

  .switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    padding-block-start: attr(data-gutter type(<length>), 2rem);
  }

  .switcher > * {
    flex-grow: 1;
    flex-basis: calc(((var(--threshold) - 100%) * 999));
  }

  // Always add 1 to item count to set the item that triggers flex basis.
  .switcher > :nth-last-child(n+4),
  .switcher > :nth-last-child(n+4) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="2"] > :nth-last-child(n+3),
  .switcher[data-items="2"] > :nth-last-child(n+3) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="3"] > :nth-last-child(n+4),
  .switcher[data-items="3"] > :nth-last-child(n+4) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="4"] > :nth-last-child(n+5),
  .switcher[data-items="4"] > :nth-last-child(n+5) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="5"] > :nth-last-child(n+6),
  .switcher[data-items="5"] > :nth-last-child(n+6) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="6"] > :nth-last-child(n+7),
  .switcher[data-items="6"] > :nth-last-child(n+7) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="7"] > :nth-last-child(n+8),
  .switcher[data-items="7"] > :nth-last-child(n+8) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="8"] > :nth-last-child(n+9),
  .switcher[data-items="8"] > :nth-last-child(n+9) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="9"] > :nth-last-child(n+10),
  .switcher[data-items="9"] > :nth-last-child(n+10) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="10"] > :nth-last-child(n+11),
  .switcher[data-items="10"] > :nth-last-child(n+11) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="11"] > :nth-last-child(n+12),
  .switcher[data-items="11"] > :nth-last-child(n+12) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-items="12"] > :nth-last-child(n+13),
  .switcher[data-items="12"] > :nth-last-child(n+13) ~ * {
    flex-basis: 100%;
  }

  .switcher[data-gutter] + .switcher[data-gutter] {
    padding-block-start: attr(data-gutter type(<length>), 2rem);
  }

  .switcher:last-child {
    padding-block-end: attr(data-gutter type(<length>), 2rem);
  }
</style>