---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
  variant: "default" | "primary" | "secondary";
  icon?: HTMLAttributes<"svg">;
}

const { variant = "default", ...props } = Astro.props;
---

<a
  class:list={twMerge([
    "link",
    variant === "default" && "default",
    variant === "primary" && "primary",
    variant === "secondary" && "secondary",
    Astro.props.class,
  ])}
  {...props}
>
  <slot />
</a>
