---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"a"> {
  variant: "default" | "primary" | "secondary";
  isExternal?: boolean;
  icon?: Record<string, string | boolean | undefined>;
}

const { variant = "default", isExternal = false, icon, ...props } = Astro.props;
---

<a
  class:list={twMerge([
    "link",
    isExternal && "link--external",
    variant === "default" && "default",
    variant === "primary" && "primary",
    variant === "secondary" && "secondary",
    Astro.props.class,
  ])}
  {...props}
>
  {icon && <Icon name={icon.name} {...icon} />}
  <slot />
  {isExternal && <Icon name="mdi:external-link" class="inline ml-2" />}
</a>
