---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";
import { Icon } from "astro-icon/components";
import { isExternalUrl } from "@utils/helpers";

interface Props extends HTMLAttributes<"a"> {
  variant?: "link" | "primary" | "secondary" | "disabled";
  icon?: Record<string, string | boolean | undefined>;
}

const { variant = "link", icon = null, ...attr } = Astro.props;

const isExternal = isExternalUrl(attr.href as string);
---

<a
  class:list={twMerge([
    "link",
    isExternal && "link--external",
    variant === "primary" && "primary",
    variant === "secondary" && "secondary",
    variant === "disabled" && "disabled",
    attr.class,
  ])}
  {...attr}
>
  {icon && <Icon name={icon.name} {...icon} />}
  <slot />
  {isExternal && <Icon name="mdi:external-link" class="inline ml-2" />}
</a>
