---
import Heading from "@components/Base/Heading/Heading.astro";
import { toSnakeCase } from "@lib/helpers";
import { Icon } from "astro-icon/components";

const { componentGroup, toggleable = false} = Astro.props;
const button_id = toSnakeCase(componentGroup) + "-toggle-button";
const group_name = toSnakeCase(componentGroup);
---

<div class="mt-8 mb-20">
  <Heading as="h2" class="flex items-center gap-2 mb-4">
    {componentGroup}
    {toggleable && (
      <button 
        class="flex ml-auto gap-1 font-semibold text-sm text-blue-600  hover:text-blue-900 py-2 cursor-pointer collapsed" 
        id="component-toggle-button"
        data-group-name={group_name}
        >
          <span class="icon-expand flex items-center gap-1 text-md"><Icon name="mdi:plus-circle" class="text-xl"></Icon>Expand all</span>
          <span class="icon-collapse flex items-center gap-1 text-md"><Icon name="mdi:plus-circle" class="text-xl"></Icon>Collapse all</span>
      </button>
    )}
  </Heading>

  <slot />
</div>

<style>
  button.expanded > span.icon-expand {
    display: none;
  }
  button.collapsed > span.icon-collapse {
    display: none;
  }
</style>

<script define:vars={{ group_name, button_id }}>

  document.addEventListener('DOMContentLoaded', () => {
    
    const button = document.getElementById('component-toggle-button');
		const details = document.querySelectorAll('details');

    button.addEventListener('click', () => {
      if (button.classList.contains('collapsed')) {
        details.forEach(detail => {
          detail.setAttribute('open', '');      
        });
        button.classList.add('expanded');
        button.classList.remove('collapsed');
      } else if (button.classList.contains('expanded')) {
        details.forEach(detail => {
          detail.removeAttribute('open');
        });
        button.classList.remove('expanded');
        button.classList.add('collapsed');
      }
    });
  });
	</script>