---
import { Icon } from "astro-icon/components";
const { componentName, componentLink, ...attr } = Astro.props;
---

<div class="mx-auto mb-4 group">
  <details class="border border-gray-300 rounded-lg" {...attr}>
    <summary
      class="flex items-center p-4 text-gray-700 font-bold cursor-pointer border-b-gray-300 in-open:border-b-1 bg-gray-50 list-none rounded-lg in-open:rounded-b-none"
      >{componentName}
        <span class="text-2xl font-light ml-auto in-open:hidden">
          <span class="sr-only">Open</span>
          <Icon name="mdi:plus-circle"></Icon>
        </span>
        <span class="text-2xl font-light ml-auto hidden in-open:inline">
          <span class="sr-only">Close</span>
          <Icon name="mdi:minus-circle"></Icon>
        </span>
      </summary
    >
    <div class="p-8">
      <slot />
    </div>
    <div class="p-4 bg-gray-100 text-sm text-gray-700 border-t border-gray-300">
      Source: {componentLink}
      <slot name="note" />
    </div>
  </details>
</div>
