---

---

<div>
  <nav id="links" class="flex">
    <ul>
      <li><a class="" href="/periodic_elements">Grid</a></li>
      <li><a class="" href="/periodic_elements/list">List</a></li>
      <li><a class="" href="/periodic_elements/table">Table</a></li>
    </ul>
  </nav>
</div>

<style>
  #links {
    display: flex;
  }
</style>
