---

---

<div>
  <nav id="links" class="flex">
    <ul class="flex my-5">
      <li class="pr-2"><a class="bg-blue-400 text-white p-2 px-4 rounded-2xl hover:bg-blue-600" href="/periodic-elements">Periodic Table</a></li>
      <li class="px-2"><a class="bg-blue-400 text-white p-2 px-4 rounded-2xl hover:bg-blue-600" href="/periodic-elements/list">List</a></li>
      <li class="px-2"><a class="bg-blue-400 text-white p-2 px-4 rounded-2xl hover:bg-blue-600" href="/periodic-elements/grid">Grid</a></li>
    </ul>
  </nav>
</div>

<style>
  #links {
    display: flex;
  }
</style>
