---
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Base/Heading/Heading.astro";
import ComponentListing from "@components/Custom/ComponentListing.astro";
---

<Layout title="Components Index" class="max-w-screen-xl mx-auto">

  <ComponentListing slot="sidebar"/>

  <div class="my-10">
    <Heading as="h1" class="mb-10">Componenents listing</Heading>

    <p>This contains all the component types as I create them.</p>
  </div>

</Layout>
