---
import type { ParkSchema } from "@/types/park";
import Layout from "@layouts/Layout.astro";
import BackTo from "@components/Navigation/BackTo/BackTo.astro";

const response = await fetch('http://localhost:4321/api/parks.json');
const parks = await response.json();
const activitiesList = new Set();

parks.forEach((park: ParkSchema) => {
  park?.data?.activities.forEach(activity => {
    activitiesList.add(activity);
  })
})

const sortedActivitiesList = [...activitiesList];
sortedActivitiesList.sort();

---
<Layout>

  <div class="flex mx-auto max-w-screen-xl">
    <header class="mb-8">
      <BackTo class="mt-3" href="/parks" title="Return to all parks page">Back to Parks</BackTo>
      <h1 class="text-3xl font-bold mt-6">Activities</h1>
    </header>
  </div>

  <div class="mx-auto max-w-screen-xl">
    {sortedActivitiesList.length && (
      <ul class="columns-2xs gap-4 my-12 pb-12">
        {sortedActivitiesList.map((activity: string) => {
          const url = "/parks/activities/activity/" + activity.replace(/\s+/g, '-').toLowerCase() as string;
          return (
            <li class="mb-2"><a class="text-blue-500 hover:text-blue-700" href={url}>{activity}</a></li>
          )
        })}
      </ul>
    )}
  </div>

</Layout>


