---
import { getCollection, type CollectionEntry } from 'astro:content';
import type { GetStaticPaths } from 'astro';
import Layout from "@layouts/Layout.astro" // Adjust path
import Heading from '@components/Base/Heading/Heading.astro';
import Prose from '@layouts/Prose.astro';
import Link from '@components/Base/Link/Link.astro';
import { Icon } from 'astro-icon/components';
import BackTo from '@components/Navigation/BackTo/BackTo.astro';

export const prerender = true;

export const getStaticPaths = (async () => {
  const allAuthors = await getCollection('authors');
  return allAuthors.map((author) => ({
    params: { author: author.data.username},
    props: { author },
  }));
}) satisfies GetStaticPaths;

const { author } = Astro.props as { author: CollectionEntry<'authors'> };

const data = author.data;
const content = author.rendered?.html;
---

<Layout title={ data.name } class="max-w-screen-xl mx-auto mt-8">

  <BackTo slot="sidebar" href="/blog/authors" title="Return to all blog authors listing page">Blog Authors</BackTo>
  <BackTo id="destination_link" slot="sidebar" href="/" title="Return to previous article">Return to Previous article</BackTo>

  {author && (
    <div slot="sidebar" class="my-2 sticky top-24 py-2 px-4 bg-gray-100 rounded-md">
      <nav aria-label="Blog navigation" class="my-2">
        <span class="sr-only">Table of Contents</span>
        <ul class="list-none space-y-2 ml-0">
          <li class="list-none items-center text-gray-800 dark:text-gray-200 text-sm">
            <Link variant="link" href="/blog" class="no-underline hover:underline inline-flex items-center">All Posts</Link>
          </li>
          <li class="list-none items-center text-gray-800 dark:text-gray-200 text-sm">
            <Link variant="link" href="/blog/tags" class="no-underline hover:underline inline-flex items-center">All Topics</Link>
          </li>
          <li class="list-none items-center text-gray-800 dark:text-gray-200 text-sm">
            <Link variant="link" href="/blog/authors" class="no-underline hover:underline inline-flex items-center">All Authors</Link>
          </li>
        </ul>
      </nav>
    </div> 
  )}

  <hgroup class="mt-4">
    <p class="text-sm text-gray-500 dark:text-gray-400 mb-4 inline-flex items-center">Author</p>
    <Heading as="h1" >{ data.name }</Heading>
    { data.username && <p class="text-md text-gray-500 dark:text-gray-400 mb-4 flex items-center mt-6"><Icon name="mdi:at"/>{data.username}</p> }
    { data.email && <p class="text-md text-gray-500 dark:text-gray-400 mb-4 flex items-center"><Icon name="mdi:email"  class="mr-1" />{data.email}</p> }
    { data.joined &&  (
    <p class="text-md text-gray-500 dark:text-gray-400 mb-4 flex items-center"><Icon name="mdi:calendar" class="mr-1"/>Joined on: {new Date(data.joined).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}</p>
    )}
  </hgroup>

  <Prose class="mt-8">
    <Fragment set:html={content ?? "<p>No element found</p>"} />
  </Prose>

  <p>Test</p>
</Layout>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const destination = urlParams.get('destination');

  if (destination && typeof destination === 'string') {
    const documentLink = document.getElementById('destination_link');
    const returnLink = documentLink?.querySelector('a');

    if (returnLink) {
      returnLink.href = destination;
    } else {
      documentLink?.remove;
    }
  }
</script>