---
import { getCollection, type CollectionEntry } from 'astro:content';
import Heading from "@components/Base/Heading/Heading.astro";
import Container from "@layouts/Container.astro";
import Layout from "@layouts/Layout.astro";
import BackTo from '@components/Navigation/BackTo/BackTo.astro';
import Link from '@components/Base/Link/Link.astro';

const allAuthors = await getCollection('authors');
// const authors = allAuthors.map((author) => ({
//     ...author.data,
//   })).sort((a, b) => new Date(b) - new Date(a.joined));

const sortedAuthors = allAuthors.sort((a, b) => {
  const dateA = new Date(a.data.joined);
  const dateB = new Date(b.data.joined);
  return dateA.getTime() - dateB.getTime();
})
---

<Layout title="Authors" class="max-w-screen-xl mx-auto mt-8">
  
  <BackTo slot="sidebar" href="/blog" title="Return to all blog posts page">Blog posts</BackTo>

  {sortedAuthors && (
    <div slot="sidebar" class="my-2 sticky top-24 py-2 px-4 bg-gray-100 rounded-md">
      <nav aria-label="Blog navigation" class="my-2">
        <span class="sr-only">Table of Contents</span>
        <ul class="list-none space-y-2 ml-0">
          <li class="list-none items-center text-gray-800 dark:text-gray-200 text-sm">
            <Link variant="link" href="/blog" class="no-underline hover:underline inline-flex items-center">All Posts</Link>
          </li>
          <li class="list-none items-center text-gray-800 dark:text-gray-200 text-sm">
            <Link variant="link" href="/blog/tags" class="no-underline hover:underline inline-flex items-center">All Topics</Link>
          </li>
          <li class="list-none items-center text-gray-800 dark:text-gray-200 text-sm">
            <Link variant="link" href="/blog/authors" class="no-underline hover:underline inline-flex items-center">All Authors</Link>
          </li>
        </ul>
      </nav>
    </div> 
  )}

  <Heading as="h1">Authors</Heading>

  <ul class="list list--unstyled my-12">
    {sortedAuthors.map((author) => {
      const href = `/blog/authors/${author.data.id.replace(/\s+/g, '-').toLowerCase()}`;
      return (
        <li class="list__item mb-6">
          <a class="element_link" href={href}>
            <article class="teaser post_teaser">
              <Heading as="h2" class="element_number">{author.data.name}</Heading>
              <p class="element_symbol">{author.data.short_bio}</p>
            </article>
          </a>
        </li>
      );
    })}
  </ul>
</Layout>
