@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";
@plugin '@tailwindcss/typography';

.custom-remark-code-title:has(+ pre.astro-code) {
  display: flex;
  position: relative;
}

.custom-remark-code-title:has(+ pre.astro-code)
  .inner-custom-remark-code-title {
  padding: 0.5rem 1.75rem 0.5rem 1.5rem;
  background: #24292e;
  border-radius: 0.375rem 0.375rem 0 0;
  margin-block-end: -0.25rem;
  color: oklch(96.7% 0.003 264.542);
  font-family: monospace;
  font-size: 1rem;
  position: relative;
}

.custom-remark-code-title:has(+ pre.astro-code)
  .inner-custom-remark-code-title::after {
  --scale: 1;
  --color: #24292e;
  content: "";
  position: absolute;
  background: #24292e;
  background-color: red;
  height: calc(0.375rem * var(--scale));
  width: calc(0.375rem * var(--scale));
  bottom: calc(0.375rem * var(--scale) * 0 + 0.25rem);
  right: calc(0.375rem * var(--scale) * -1);
  background-image: radial-gradient(
    circle at 100% 0%,
    white calc(0.375rem * var(--scale)),
    var(--color) calc(0.375rem * var(--scale))
  );
}

.custom-remark-code-title ~ pre.astro-code {
  margin-block-start: 0;
}
