---
import DummyContent from "@components/Base/DummyContent/DummyContent.astro";
import TabPanel from "@components/Interface/Tabs/TabPanel.astro";
import Tabs from "@components/Interface/Tabs/Tabs.astro";
import Welcome from "@custom/Welcome.astro";
import Container from "@layouts/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
  <Welcome />

  <Container type="stack" spacingSize="2rem" class="max-w-screen-lg my-12 mx-auto">
    <Tabs type="horizontal" aria-label="Horizontal Tabs example">
      <TabPanel label="Tab One" icon="mdi:arrow-down"><DummyContent label="One"/></TabPanel>
      <TabPanel label="Tab 2"><DummyContent label="Two"/><DummyContent /><DummyContent /></TabPanel>
      <TabPanel label="This is Tab Three" icon="mdi:weather-night"><DummyContent label="Three"/><DummyContent /></TabPanel>
      <TabPanel label="Tab Four goes here and is awesome" icon="mdi:account-multiple"><DummyContent label="Four"/></TabPanel>
    </Tabs>

    <Tabs type="vertical" aria-label="Vertical Tabs example">
      <TabPanel label="Vertical One" icon="mdi:arrow-down"><DummyContent label="Vertical 1"/></TabPanel>
      <TabPanel label="Vertical Tab Two"><DummyContent label="Vertical 2"/><DummyContent /></TabPanel>
      <TabPanel label="Vertical Tab Three"><DummyContent label="Vertical 3"/></TabPanel>
      <TabPanel label="Vertical Four" icon="mdi:account"><DummyContent label="Vertical 4"/><DummyContent /></TabPanel>
    </Tabs>
  </Container>

  <Container type="stack" spacingSize="2rem" class="max-w-screen-lg my-24 mx-auto">
    <div>Lorem ipsum dolor sit amet. Vel numquam delectus aut aperiam deleniti non tenetur itaque sed rerum galisum. Vel pariatur minima sed quos tempora aut voluptatem soluta in incidunt veritatis. Eos nemo dolore aut incidunt veritatis aut temporibus quis est optio facere et quasi atque et amet sequi aut corporis aliquam. Aut internos maiores ab sunt consequatur et similique nesciunt ex quia cupiditate!</div>
    <div>Qui amet fugiat qui provident galisum ut quae quia eum dolor rerum cum soluta repellendus 33 natus voluptatibus est sunt dolore! Nam officia reiciendis aut nihil omnis et saepe magnam et dolorem rerum. Ab voluptas ipsam eos doloremque illum ad consequatur ipsam. Quo molestias aliquam ea vitae consequuntur et magni repellendus est quia excepturi aut corporis odit.</div>
    <div>Et galisum omnis aut quia voluptatem et doloribus dolores. Eos quia quisquam et quisquam sint qui quaerat quia. Non galisum voluptatem est rerum sint et doloribus dolores. Qui quia omnis aut quia voluptatem et doloribus dolores. Eos quia quisquam et quisquam sint qui quaerat quia. Non galisum voluptatem est rerum sint et doloribus dolores.</div>
    <div>Vel impedit possimus aut voluptate sint sed inventore necessitatibus At quis quam quo exercitationem praesentium sit sint dolorum ex voluptatem quis. Aut expedita voluptatem non dolorem sunt aut dicta rerum aut quidem odit et expedita debitis non Quis doloribus? Aut nesciunt consequatur sed quas dignissimos est incidunt ipsa et alias veniam. Eum quas omnis ut asperiores magnam qui magnam voluptatem et quasi tenetur id cupiditate nostrum quo voluptas dolores.</div>
      <Container type="switcher" gapSize="2rem" thresholdSize="600px" spacingSize="8rem">
        <div>Lorem ipsum dolor sit amet. Vel numquam delectus aut aperiam deleniti non tenetur itaque sed rerum galisum. Vel pariatur minima sed quos tempora aut voluptatem soluta in incidunt veritatis. Eos nemo dolore aut incidunt veritatis aut temporibus quis est optio facere et quasi atque et amet sequi aut corporis aliquam. Aut internos maiores ab sunt consequatur et similique nesciunt ex quia cupiditate!</div>
        <div>Qui amet fugiat qui provident galisum ut quae quia eum dolor rerum cum soluta repellendus 33 natus voluptatibus est sunt dolore! Nam officia reiciendis aut nihil omnis et saepe magnam et dolorem rerum. Ab voluptas ipsam eos doloremque illum ad consequatur ipsam. Quo molestias aliquam ea vitae consequuntur et magni repellendus est quia excepturi aut corporis odit.</div>
        <div>Et galisum omnis aut quia voluptatem et doloribus dolores. Eos quia quisquam et quisquam sint qui quaerat quia. Non galisum voluptatem est rerum sint et doloribus dolores. Qui quia omnis aut quia voluptatem et doloribus dolores. Eos quia quisquam et quisquam sint qui quaerat quia. Non galisum voluptatem est rerum sint et doloribus dolores.</div>
        <div>Vel impedit possimus aut voluptate sint sed inventore necessitatibus At quis quam quo exercitationem praesentium sit sint dolorum ex voluptatem quis. Aut expedita voluptatem non dolorem sunt aut dicta rerum aut quidem odit et expedita debitis non Quis doloribus? Aut nesciunt consequatur sed quas dignissimos est incidunt ipsa et alias veniam. Eum quas omnis ut asperiores magnam qui magnam voluptatem et quasi tenetur id cupiditate nostrum quo voluptas dolores.</div>
      </Container>
  </Container>
</Layout>
