---
import TrevitalLayout from "@layouts/TrevitalLayout.astro";

---
<TrevitalLayout title="Trevital page">
  <div class="max-w-screen-md mx-auto px-6 py-12 font-[Open_Sans]">
    <h2 class="mb-6 text-3xl font-[Open_Sans] font-light">Trevital Components Test page</h2>
    <p class="mb-6 text-lg font-[Open_Sans] text-neutral-500">Lorem ipsum dolor sit amet. Ab sint architecto a minus corporis sit quidem amet et provident veniam eos adipisci voluptatem et repellat nobis. Et perferendis ullam aut nisi blanditiis et quod voluptates quo consequatur neque vel corporis animi. Eos reprehenderit deleniti in obcaecati laborum qui nisi omnis nam similique blanditiis sed fugiat voluptatem eum omnis dolorum. Aut molestias molestiae quo dolorem quisquam ea molestiae neque qui autem obcaecati.</p>

    <h3 class="mb-6 text-2xl font-[Open_Sans] font-light">Sample third level heading</h3>
    <p class="mb-6 text-lg font-[Open_Sans] text-neutral-500">Et commodi ipsam in neque consequatur id dolor blanditiis et modi harum. Ab odio labore sed mollitia nesciunt qui magnam nisi et odio esse eum voluptatem pariatur non enim consequatur 33 voluptas rerum. Qui illo culpa non officiis nobis ut placeat doloribus!</p>

    <h3 class="mb-6 text-2xl font-[Open_Sans] font-light">Another sample third level heading</h3>
    <p class="mb-6 text-lg font-[Open_Sans] text-neutral-500">Ea sunt quis in praesentium repudiandae sit illum ratione aut galisum quibusdam sit corporis totam. Non odio asperiores eos deserunt tempora ut quisquam accusantium cum corrupti beatae non corrupti odio aut pariatur unde. Et architecto quia qui alias sint eos dignissimos ipsum ut voluptatibus accusamus. Rem consequatur incidunt a dignissimos magni non vero tempore.</p>

    <h4 class="mb-6 text-xl font-[Open_Sans] font-light">Sample third level heading</h4>
    <p class="mb-6 text-lg font-[Open_Sans] text-neutral-500">Et commodi ipsam in neque consequatur id dolor blanditiis et modi harum. Ab odio labore sed mollitia nesciunt qui magnam nisi et odio esse eum voluptatem pariatur non enim consequatur 33 voluptas rerum. Qui illo culpa non officiis nobis ut placeat doloribus!</p>
    <p class="mb-6 text-lg font-[Open_Sans] text-neutral-500">Ea sunt quis in praesentium repudiandae sit illum ratione aut galisum quibusdam sit corporis totam. Non odio asperiores eos deserunt tempora ut quisquam accusantium cum corrupti beatae non corrupti odio aut pariatur unde. Et architecto quia qui alias sint eos dignissimos ipsum ut voluptatibus accusamus. Rem consequatur incidunt a dignissimos magni non vero tempore.</p>

    <h2 class="mb-6 text-3xl font-[Open_Sans] font-light">Another example of second level heading</h2>
    <p class="mb-6 text-lg font-[Open_Sans] text-neutral-500">Lorem ipsum dolor sit amet. Ab sint architecto a minus corporis sit quidem amet et provident veniam eos adipisci voluptatem et repellat nobis. Et perferendis ullam aut nisi blanditiis et quod voluptates quo consequatur neque vel corporis animi. Eos reprehenderit deleniti in obcaecati laborum qui nisi omnis nam similique blanditiis sed fugiat voluptatem eum omnis dolorum. Aut molestias molestiae quo dolorem quisquam ea molestiae neque qui autem obcaecati.</p>

    <p>End of content area, footer starts with the Trevital callout below.</p>
  </div>
</TrevitalLayout>
