---

---

<footer id="footer" class="bg-gray-100 border-t-1 border-gray-200 dark:bg-gray-900 dark:text-shadow-gray-500 py-8">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <nav id="footer-links">
      <ul class="flex gap-4 text-sm">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/component-pages">Components</a></li>
        <li><a href="/periodic-elements">Periodic Table</a></li>
        <li><a href="/parks">Parks</a></li>
        <li><a href="https://docs.astro.build">Read astro docs</a></li>
      </ul>
    </nav>

    <p class="text-sm">&copy;2025 This is my astro practice site.</p>
  </div>
</footer>

<style>
  #footer {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    padding: 1rem;
  }

  #links {
    display: flex;
    gap: 1rem;
  }

  #links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  #links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    background: #3245ff;
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }

  #links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }
  }
</style>
