---
import { getCollection, type CollectionEntry } from 'astro:content';
import type { GetStaticPaths } from 'astro';
import Layout from "@layouts/Layout.astro" // Adjust path
import Heading from '@components/Base/Heading/Heading.astro';
import Prose from '@layouts/Prose.astro';
import Link from '@components/Base/Link/Link.astro';

export const getStaticPaths = (async () => {
  const allTags = await getCollection('blog_tags');

//post.data.title.replace(/\s+/g, '-').toLowerCase()

  return allTags.map((tag) => ({
    params: { 
      tag: tag.data.name.replace(/\s+/g, '-').toLowerCase()
    },
    props: { tag },
  }));
}) satisfies GetStaticPaths;

const { tag } = Astro.props as { tag: CollectionEntry<'blog_tags'> };

const data = tag.data;
const content = tag.rendered?.html;
---

<Layout title={tag.data.name} class="max-w-screen-lg mx-auto mt-8">

  <hgroup class="mt-4">

    <p class="text-sm text-gray-500 dark:text-gray-400 mb-4 inline-flex items-center">
      <Link href="/blog" icon={{ name: "mdi:arrow-left", class: "inline-flex items-center"}} >Back to Blog</Link>
    </p>

    <Heading as="h1" >{tag.data.name}</Heading>

    {data.description && (
      <p class="lead mt-6">
        {data.description}
      </p> 
    )}
  </hgroup>

  <Prose class="mt-8">
    <Fragment set:html={content ?? "<p>No element found</p>"} />
  </Prose>
</Layout>